<div class="banner">
	<div class= "container">
		<div class="row">
			<ul class="menu" style="float:left">
				<li><img src="/assets/logo-transparent.gif" style="height:40px; margin-right:10px" /></li>
<!--				<%= link_to @page_title || "Saffron Grass", root_path %> -->
				<li class="topbar-title">Saffron Grass</li>
			</ul>

			<section class="top-bar-section">
				<div class="top-bar-right">
					<ul class="menu styleForA">
						<li><%= link_to "HOME", "/" %></li>
						<%# if current_user && current_user.role == "admin" %>
						<%# if can? :create, @product %>
							<li><%= link_to "SHOP", products_path %></li>
						<%#end %>
						<li><%= link_to "OUR STORY", about_path %></li>
						<li><%= link_to "CONTACT US", new_contact_path %></li>
						<% if user_signed_in? %>
							<li><%= link_to "Edit profile", edit_user_registration_path %></li>
							<li><%= link_to 'Logout' , destroy_user_session_path, :method => :delete %></li>

						<% else %>
							 <li><%= link_to "sign in", new_user_session_path %></li>
						<% end %>
					</ul>
					<% if user_signed_in? %>
						<span class="whoLoggedIn"><%= current_user.email %></span>
						<% end %>
				</div>
		</section>

		</div>



	</div>
</div>




<div class="row">
  <nav class="top-bar column" data-topbar>
  	  <div><h4>
      	<%= link_to @page_title || "Singing For The Unsung", root_path %>
      	<% if !current_user.blank? && !@cart.blank? %>
      		<%= link_to image_tag("cart.png", :class => 'cart'), cart_url(@cart) %>
      	<%end%>
      </h4>
      
      </div>
  </nav>
</div>
