<h4 class="column">Forgot Password?</h4>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

<div class="actions">
  <%= f.submit 'Reset Password' class: 'button' %>
</div>
<% end %>

<%= render :partial => "devise/shared/links" %>
