<div id="product_list" >
<h1>Listing products</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Sale price</th>
    <th>Sku</th>
    <th>Description</th>
    <th>Color</th>
    <th>Size</th>
    <th>Inventory</th>
    
    <% if current_user && current_user.is_admin? %>
    <th></th>
    <th></th>
    <th></th><%end%>
  </tr>

<% @products.each do |product| %>
  <tr class=" <%= cycle('list_line_odd' , 'list_line_even' ) %>" 
>
    <td><%= product.name %></td>
    <td><%= number_to_currency(product.price, :unit => "₹") %></td>
    <td><%= number_to_currency(product.sale_price, :unit => "₹") %></td>
    <td><%= product.sku %></td>
    <td class="list_description" >
        <dl>
            <dd><%= truncate(strip_tags(product.description),
            :length => 80) %></dd>
        </dl>
    </td>

    <td><%= product.color %></td>
    <td><%= product.size %></td>
    <td><%= product.inventory %></td>
    <% if current_user && current_user.is_admin? %>
    <td class="list_actions" >
        <%= link_to 'Show' , product %><br/>
        <%= link_to 'Edit' , edit_product_path(product) %><br/>
        <%= link_to 'Destroy' , product,
        :confirm => 'Are you sure?' ,
        :method => :delete %>
    </td>
    <%end%>

  </tr>
<% end %>
</table>
</div>

<br />
<%# if current_user && current_user.is_admin? %>

    <%= link_to 'New Product', new_product_path if can? :create, Product%>
<%#end%>