<div id="product_list" >
<h4 class="column">Listing Products</h4>

<table style="width: 100%">
  <tr>
    <th class="productInfo">Name</th>
    <th class="productInfo">Price</th>
    <th class="productInfo">Sale Price</th>
    <th class="productInfo">Sku</th>
    <th class="productInfo">Description</th>
    <th class="productInfo">Color</th>
    <th class="productInfo">Size</th>
    <th class="productInfo">Inventory</th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr class=" <%= cycle('list_line_odd' , 'list_line_even' ) %>">
    <td class="productInfo"><span style="text-align: center"><%= product.name %></span></td>
    <td class="productInfo"><%= number_to_currency(product.price) %></td>
    <td class="productInfo"><%= number_to_currency(product.sale_price) %></td>
    <td class="productInfo"><%= product.sku %></td>
    <td  class="productInfo" >
        <dl>
            <dd><%= truncate(strip_tags(product.description),
            :length => 80) %></dd>
        </dl>
    </td>

    <td class="productInfo"><%= product.color %></td>
    <td class="productInfo"><%= product.size %></td>
    <td class="productInfo"><%= product.inventory %></td>
    <td class="productInfo" >
        <%= link_to 'Show' , product %><br/>
        <%= link_to 'Edit' , edit_product_path(product) %><br/>
        <%= link_to 'Destroy' , product,
        :confirm => 'Are you sure?' ,
        :method => :delete %>
    </td>

  </tr>
<% end %>
</table>
</div>

<br />

<%= link_to 'New Product', new_product_path, class: "button" %>
