<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Saffron Grass" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="/assets/foundation.min.css">

  </head>

  <body>

    <%= render :partial => "shared/header" %>

    <%= render :partial => "shared/alerts" %>

    <div id="main-content" class="row full-min-height">
      <%= yield %>
    </div>

    <footer class="row">
      <div class="large-12 columns">
      <hr>
        <%= render :partial => "shared/footer" %>


      </div>
    </footer>

    <%= javascript_include_tag "application" %>

  </body>
</html>
